@font-face {
    font-family: "gilroy-light";
    src: url("fonts/gilroy-light-webfont.eot");
    src: url("fonts/gilroy-light-webfont.woff2") format("woff2"),
        url("fonts/gilroy-light-webfont.woff") format("woff"),
        url("fonts/gilroy-light-webfont.ttf") format("truetype"),
        url("fonts/gilroy-light-webfont.svg#gilroy-lightuploaded_file") format("svg");
    font-weight: normal;
    font-style: normal;
}
