.line-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    &:before {
        content: " ";
        width: 70px;
        height: 2px;
        //background: $black;
        position: relative;
        display: inline-block;
        vertical-align: top;
        top: 12px;
        margin-right: 16px;
    }
}

.pg-title-bd{
    font-size: 30px;
    font-weight: bold;
    font-family: $primary-font;
    text-align: center;
}

.main-title-2{
    font-family: $secondary-font;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 600;
    @media only screen and (min-width: 768px) {
        font-size: 55px;
        font-weight: 600;
    }
    @media only screen and (min-width: 1200px) {
        font-size: 55px;
        font-weight: 600;
    }
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6{
    font-family: $secondary-font;
    margin-top: 20px;
    margin-bottom: 20px;
}


h1,
.h1{
    font-size: 40px;

    @media only screen and (min-width: 768px) {
        font-size: 55px;
        font-weight: 600;
    }
    @media only screen and (min-width: 1200px) {
        font-size: 55px;
        font-weight: 600;
    }
}

h2,
.h2{
    font-size: 38px;
    font-weight: 400;
    @media only screen and (min-width: 768px) {
        //font-size: 55px;
    }
    @media only screen and (min-width: 1200px) {
        //font-size: 60px;
    }
}

h3,
.h3{
    font-size: 32px;
    font-weight: 400;
    @media only screen and (min-width: 768px) {
        //font-size: 50px;
    }
    @media only screen and (min-width: 1200px) {
        //font-size: 55px;
    }
}

h4,
.h4{
    font-size: 25px;

    @media only screen and (min-width: 768px) {
        //font-size: 45px;
    }
    @media only screen and (min-width: 1200px) {
        //font-size: 50px;
    }
}

h5,
.h5{
    font-size: 20px;

    @media only screen and (min-width: 768px) {
        //font-size: 40px;
    }
    @media only screen and (min-width: 1200px) {
        //font-size: 45px;
    }
}

h6,
.h6{
    font-size: 15px;

    @media only screen and (min-width: 768px) {
        //font-size: 35px;
    }
    @media only screen and (min-width: 1200px) {
        //font-size: 40px;
    }
}