.menu-section {
    @import "menu/comp-hamberger-menu";
    @import "menu/comp-megamenu";

    @media only screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85px;
    }
}
