.logo-section {
    display: block;

    @media only screen and (min-width: 1200px) {
        display: block;
        width: 180px;
    }

    #branding {
        position: absolute;
        z-index: 10;
        display: none;
        @include transition(opacity 0.2s ease-in-out);

        @media only screen and (min-width: 1200px) {
            display: block;
        }

        img {
            width: 200px;
        }
    }

    #branding-text {
        padding: 17px 0;
        display: block;
        opacity: 0;
        font-size: 0;
        transition: none; 
        //@include transition(opacity 0.2s ease-in-out); 

        img {
            // width: 207px;
            height: 20px;
        }
    }
}
