.banner {
    //homepage
    &.homepage {
        @media only screen and (min-width: 1200px) {
            padding-top: 104px;
        }

        .banner-inner-wrapper {
            @media only screen and (min-width: 1200px) {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-wrap: wrap;
            }

            //left
            .left-wrapper {
                @media only screen and (min-width: 1200px) {
                    display: flex;
                    width: 32%;
                    padding-top: 125px;
                }

                .dynamic-overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: $black;

                    @media only screen and (min-width: 1200px) {
                        display: none;
                    }
                }

                .left-image.mobile {
                    @media only screen and (min-width: 1200px) {
                        display: none;
                    }

                    .left-img-mobile {
                        display: block;
                        width: 100%;
                        height: 100vh;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;

                        @media only screen and (min-width: 768px) {
                            display: none;
                        }
                    }

                    .left-img-ipad {
                        display: none;
                        width: 100%;
                        height: 100vh;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;

                        @media only screen and (min-width: 768px) {
                            display: block;
                        }
                    }

                    .mobile-logo {
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        left: 50%;
                        z-index: 1;
                        a {
                            img {
                                width: 100%;
                                max-width: 180px;

                                @media only screen and (min-width: 768px) {
                                    width: 253px;
                                }
                            }
                        }
                    }
                }

                .left-image.desktop {
                    display: none;
                    position: relative;

                    @media only screen and (min-width: 1200px) {
                        display: flex;
                        height: 100%;
                        width: 100%;
                    }

                    a {
                        display: flex;
                        height: 100%;
                        width: 100%;

                        .play-icon {
                            position: absolute;
                            right: 0;
                            top: 0;
                            padding: 37px;
                            background-color: rgba($black, 0.5);

                            svg {
                                width: 16px;
                                height: 18px;
                                display: block;
                            }
                        }

                        .left-img {
                            display: flex;
                            height: 100%;
                            width: 100%;
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                }
            }

            //right
            .right-wrapper {
                // display: none;

                @media only screen and (min-width: 1200px) {
                    display: flex;
                    width: calc(100% - 32%);
                    flex-direction: column;
                }

                //right top
                .right-top-inner-wrapper {
                    @media only screen and (min-width: 1200px) {
                        display: flex;
                        flex-direction: row;
                        height: 100%;
                    }

                    .home-intro {
                        width: 100%;
                        padding: 75px 15px 0;
                        margin-right: auto;
                        margin-left: auto;

                        @media only screen and (min-width: 768px) {
                            max-width: 66.66666667%;
                        }

                        @media only screen and (min-width: 992px) {
                            max-width: 70%;
                        }

                        @media only screen and (min-width: 1200px) {
                            width: 53%;
                            padding: 120px 70px 0;
                            max-width: inherit;
                        }

                        .line-title {
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 24px;

                            &:before {
                                content: " ";
                                width: 70px;
                                height: 2px;
                                background: $black;
                                position: relative;
                                display: inline-block;
                                vertical-align: top;
                                top: 12px;
                                margin-right: 16px;
                            }
                        }

                        h1 {
                            font-family: $secondary-font;
                            font-size: 55px;
                            line-height: 75px;
                            margin-bottom: 0;
                            margin-top: 6px;
                            letter-spacing: -0.5px;
                            font-weight: 700; 
                            span {
                                display: block;
                                font-size: 43px;
                                line-height: 45px;
                                padding: 10px 0;
                                font-weight: 400;
                            }
                        }
                        .description {
                            margin-top: 25px;
                        }
                    }

                    .right-image-wrapper {
                        display: none;

                        @media only screen and (min-width: 1200px) {
                            display: block;
                            width: 47%;
                            height: 100%;
                            padding-bottom: 40px;
                        }

                        .right-image.desktop {
                            display: flex;
                            height: 100%;
                            width: 100%;
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                }

                //right bottom
                .right-bottom-inner-wrapper {
                    .component-why-truly-srilanka {
                        margin-top: 50px;
                        padding: 0 15px;
                        margin-right: auto;
                        margin-left: auto;

                        @media only screen and (min-width: 768px) {
                            max-width: 66.66666667%;
                            background-color: #e9e9e9;
                            padding: 60px 80px;
                        }

                        @media only screen and (min-width: 992px) {
                            max-width: 70%;
                        }

                        @media only screen and (min-width: 1200px) {
                            background-color: inherit;
                            margin-top: 78px;
                            padding: 0 50px;
                            max-width: 1000px;
                            margin-left: 0;
                        }

                        h2 {
                            font-family: $secondary-font;
                            font-size: 46px;
                            margin-bottom: 0;
                            font-weight: 600;

                            span {
                                display: block;

                                @media only screen and (min-width: 1200px) {
                                    display: inline;
                                }
                            }
                        }

                        .items-wrapper {
                            margin-top: 22px;

                            @media only screen and (min-width: 1200px) {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -ms-flex-wrap: wrap;
                                flex-wrap: wrap;
                            }

                            .item {
                                display: flex;
                                align-items: center;
                                justify-content: left;
                                width: 100%;

                                @media only screen and (min-width: 1200px) {
                                    width: 33.33334%;
                                }

                                &:not(:first-of-type) {
                                    margin-top: 26px;

                                    @media only screen and (min-width: 1200px) {
                                        margin-top: 0;
                                    }
                                }

                               

                                .icon {
                                    width: 75px;
                                    height: 60px;
                                    background-position: bottom left;
                                    background-size: 55px 55px;
                                    background-repeat: no-repeat;
                                    align-self: flex-end;
                                }
                                .text {
                                    width: calc(100% - 75px);
                                    align-self: flex-end;

                                    @media only screen and (min-width: 1200px) {
                                        padding-right: 10px;
                                        line-height: 1.5;
                                    }

                                    @media only screen and (min-width: 1354px) {
                                        padding-right: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
