.ts-things-to-do-listing-page{
	.pg-content{
		margin-top: 40px;
	}
    .section-delights{
    	margin-top: 10px;
    	.slider-mb-only {
    		.listing-types-2 {
    			.item{
    				margin-top: 20px;
    				padding: 0 10px;
    			}
    		}
    	}
    }
}